<div id="preloder">
    <div class="loader"></div>
</div>

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="/carts"><span class="icon_bag_alt"></span>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <% if ( typeof userInfo == "undefined")  { %>
            <a href="/users">account</a>
        <%} else { %>
        <% } %>
    </div>
</div>


<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="/images/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/carts">Shop Cart</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <% if ( typeof userInfo == "undefined")  { %>
                            <a href="/users">account</a>
                        <%} else { %>
                            <button id = "sign-out-btn">Sign out</button>
                        <% } %>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li><a href="/carts"><span class="icon_bag_alt"></span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<script>
    const baseURL = "http://localhost:7001/users" 
    const signOutBtn = document.getElementById("sign-out-btn");
    signOutBtn.addEventListener('click',async (e) =>{
        let response = await fetchData(baseURL + "/sign_out","GET")
        if(response.status === 200){
            response.json().then((data) => {
                window.alert(data);
            });
            window.location.href = "/"
        }
    })

    async function fetchData(url = "",method, data = {}) {
                // Default options are marked with *
                const response = await fetch(url, {
                    method: method, // *GET, POST, PUT, DELETE, etc.
                    mode: "cors", // no-cors, *cors, same-origin
                    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: "same-origin", // include, *same-origin, omit
                    headers: {
                        "Content-Type": "application/json",
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    redirect: "follow", // manual, *follow, error
                    referrerPolicy: "no-referrer"// no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                });
                return response; // parses JSON response into native JavaScript objects
            }
</script>