<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price (VND)</th>
                                <th>Quantity</th>
                                <th>Total (VND)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table_carts">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="/">Continue Shopping</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span id="total">
                            </span></li>
                    </ul>
                    <a href="#" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    const domain = 'http://localhost:7000';

    async function getCartsData() {

        let response = await fetch(`${domain}/carts/data`, {
            method: "GET",
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
        });

        const sls = await response.json();

        if (response.status >= 200 && response.status <= 299) {

            var tash = "";
            for (let h in sls.products) {
                const ne = sls.products[h];
                tash += `<tr><td class="cart__product__item"><img src="${ne.product_image}" alt="">`;
                tash += `<div class="cart__product__item__title"><h6>${ne.product_name}</h6></div></td>`;
                tash += `<td class="cart__price">${ne.product_cost}</td>`;
                tash += `<td class="cart__quantity"><div class="pro-qty">`;
                tash += `<input type="text" value="${ne.quality}""></div></td>`;
                tash += `<td class="cart__total">${ne.quality * ne.product_cost}</td>`;
                tash += `<td class="cart__close"><a onclick="deleteCarts(id = '${ne.productID}')" class="icon_close" ></a></td></tr>`;
            }

            document.querySelector("#table_carts").innerHTML = tash;
            document.querySelector("#total").innerHTML += sls.totalBill;
        }
    }

    getCartsData();

    async function deleteCarts(id) {

        const payload = JSON.stringify({
            productId: id
        });

        let response = await fetch(`${domain}/carts/delete`, {
            method: "POST",
            contentType: "application/json",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: payload
        });

        if (response.status >= 200 && response.status <= 299) {
            alert("success delete product in cart");
            location.reload();
        }

        if (response.status === 403) {
            alert("you need login to action delete carts");
            location.reload();
        }

        if (response.status === 404) {
            alert(`Product with id: ${id} not found`);
            location.reload();
        }

    }




</script>