<aside class="sidebar">
    <div class="sidebar__head">
        <img src="/images/logo.png" alt="" class="sidebar__head-img">
    </div>
    <div class="sidebar__links">
        <a href="/admin" class="sidebar__link">
            <span class="material-symbols-outlined opacity-60">dashboard</span>
            <p class="sidebar__link-text">Dashboard</p>
        </a>
        <a href="/admin/product" class="sidebar__link">
            <span class="material-symbols-outlined opacity-60">box</span>
            <p class="sidebar__link-text">Manage Product</p>
        </a>
        <a href="/admin/category" class="sidebar__link">
            <span class="material-symbols-outlined opacity-60">category</span>
            <p class="sidebar__link-text">Manage Category</p>
        </a>
        <a href="/admin/warehouse" class="sidebar__link">
            <span class="material-symbols-outlined opacity-60">warehouse</span>
            <p class="sidebar__link-text">Manage Warehouse</p>
        </a>
    </div>
    <div class="sidebar__logout">
        <span class="material-symbols-outlined opacity-60">logout</span>
        Sign out
    </div>
</aside>