<div class="topbar">
    <div class="topbar__container">
        <p class="topbar__container-name"><%= userInfo.username %></p>
        <img src="<%= userInfo.avatar %>" alt="" class="topbar__container-img">
    </div>
</div>
<div class="line"></div>